{% set VUE_SCRIPT_NAME = 'create_member' %}

{% extends './layout/default' %}

{% block breadcrumbs %}
    {{ Breadcrumbs.render(Route.getCurrentRoute.getName) }}
{% endblock %}

{% block content %}
    <div id="create_member"></div>
{% endblock %}

{% block definitions %}
    <script type="text/javascript" nonce="{{ JS_NONCE }}">
        var previousUrl = '{{ previousUrl }}';
        var permissions = {{ permissions|json_encode|raw }};
    </script>
{% endblock %}
